.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
}

.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  border-width: 0;
}

*{
  box-sizing: border-box;
}

.app{
  display: inline-table;
  width: calc(100vw - 80px);
  background-color: #a5cdf0;
  font-family: "Raleway", sans-serif;
  padding-bottom: 20px;

}

.app header{
  padding : 14px;
  background-color: #7c9ed5;
  width: 100%;
  margin-bottom: 30px ;
}

.app header .btn{
  color:#010745;
  background-color: #5d7ac1;
  padding: 14px;
  margin-left: 5px;
  border-width: 0;
}

.app header .search   {
  background-color: transparent;
  border-width: 0;
  font-size: 20px;
  color: white;
}

.today-weather{
  color: #010745;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% ;
}

.today-weather h2 {
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  font-size: 16px;
  font-weight: 1000;
}

.today-weather p{
  font-size: 13px;
  display: inline-block;
  text-align: center;
}

.today-weather > p:nth-of-type(1){
  color: white;
  margin-top: 0;
font-size: 23px;
font-weight: 1000;
}

.today-weather p:nth-of-type(2){
  font-size: 12px;
  display: block;
}


.today-weather-details-title{
  font-weight: 1000;
  margin-right: 5px;
}

.today-weather-details-value{
  margin-right: 10px;
  font-weight: lighter;
  font-size: 10px;
  
}

.rest-of-today-weather{
  width: 80%;
  margin-top: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.rest-of-today-weather div{
  display: inline-block;
}

.rest-of-today-weather div p{
  text-align: center;
}

.rest-of-today-weather div .hour{
  margin-bottom: 20px;
}

.today-title{
  margin-left: 10px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.today-value{
  margin-left: 10px;
}

.no-data{
  width: 100vw;
  padding: 40px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  section{
    width: 100vw;
  }

  .app{
    width: 100vw;
  }
  .app header{
    width: 100vw;
  }

  .rest-of-today-weather{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  body{
    margin: 0;
    padding: 0;
  }
}